asgiref==3.6.0
certifi==2022.12.7       
charset-normalizer==3.1.0
Django==4.1.7
django-countries==7.5.1  
django-mathfilters==1.0.0
idna==3.4
Pillow==9.4.0
requests==2.29.0
six==1.16.0
sorl-thumbnail==12.9.0
sqlparse==0.4.3
stripe==5.4.0
typing_extensions==4.5.0
tzdata==2022.7
urllib3==1.26.15