{% extends '../base.html' %}


{% block content %}

<style>
    .product-image {
        height: 200px; 
        object-fit: cover;
    }
</style>


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Shop List</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                <!-- Price Start -->
                <h6 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by Product Type</span></h6>
                <div class="bg-light p-4 mb-30">
                    <form id="productTypeFilterForm" method="GET">
                        {% for product_type in product_types %}
                            <input type="checkbox" name="product_type" value="{{ product_type }}" id="{{ product_type }}" class="product-type-checkbox">
                            <label for="{{ product_type }}">{{ product_type }}</label>
                        {% endfor %}
                    </form>
                </div>
                <h6 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by price</span></h6>
                <div class="bg-light p-4 mb-30">
                    <form id="priceFilterForm">
                        <!-- Existing code -->
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input price-checkbox" name="price_range" value="1-250" id="price-1">
                            <label class="custom-control-label" for="price-1">$1 - $250</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input price-checkbox" name="price_range" value="251-500" id="price-2">
                            <label class="custom-control-label" for="price-2">$251 - $500</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input price-checkbox" name="price_range" value="501-750" id="price-3">
                            <label class="custom-control-label" for="price-3">$501 - $750</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input price-checkbox" name="price_range" value="751-999" id="price-4">
                            <label class="custom-control-label" for="price-4">$751 - $999</label>
                        </div>
                    </form>
                </div>
                <!-- Price End -->
                
                <!-- Color Start -->
                <h6 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by color</span></h6>
                <div class="bg-light p-4 mb-30">
                    <form id="colorFilterForm" method="GET">
                      {% for color in colors %}
                          <input type="checkbox" name="color" value="{{ color }}" id="{{ color }}" class="color-checkbox">
                          <label for="{{ color }}">{{ color }}</label>
                      {% endfor %}
                    </form>
                </div>
                <!-- Color End -->

                <!-- Size Start -->
                <h6 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by Brand</span></h6>
                <div class="bg-light p-4 mb-30">
                  <form id="brandFilterForm" method="GET">
                    {% for brand in brands %}
                        <input type="checkbox" name="brand" value="{{ brand }}" id="{{ brand }}" class="brand-checkbox">
                        <label for="{{ brand }}">{{ brand }}</label>
                    {% endfor %}
                </form>
                </div>

                <!-- Warranty Start -->
                <h6 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by Warranty</span></h6>
                <div class="bg-light p-4 mb-30">
                    <form id="warrantyFilterForm" method="GET">
                      {% for warranty in warranties %}
                          <input type="checkbox" name="warranty" value="{{ warranty }}" id="{{ warranty }}" class="warranty-checkbox">
                          <label for="{{ warranty }}">{{ warranty }} Year</label>
                      {% endfor %}
                  </form>
                  </div>

                <!-- Seller Start -->
                <h6 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by Seller</span></h6>
                <div class="bg-light p-4 mb-30">
                    <form id="sellerFilterForm" method="GET">
                      {% for seller in sellers %}
                          <input type="checkbox" name="seller" value="{{ seller }}" id="{{ seller }}" class="seller-checkbox">
                          <label for="{{ seller }}">{{ seller }}</label>
                      {% endfor %}
                  </form>
                  </div>               
            </div>
            

            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center mb-4" style="float: right;">
                            <div>
                                <form method="GET" action="/list_products/" class="d-flex">
                                <input class="form-control me-2" name="search" id="search" type="search" placeholder="Search"
                                  aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="productList" class="row px-xl-5">
                        {% for product in products %}
                        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                          <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                              {% for image in product.product_image.all %}
                              {% if image.is_feature %}
                              <img class="product-image image-fluid w-100" alt="Responsive image" src="{{ image.image.url }}" alt="{{ image.image.alt_text }}">
                              <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                              </div>
                              {% endif %}
                              {% endfor %}
                            </div>
                            <div class="text-center py-4">
                              <a class="h6 text-decoration-none text-truncate" href="{{ product.get_absolute_url }}">{{product.title}}</a>
                              <br><a class="h6 text-decoration-none text-truncate" href="{{ product.get_absolute_url }}">{{product.brand}}</a>
                              <div class="d-flex align-items-center justify-content-center mt-2">
                                <h6>{{product.discount_price}}</h6>
                                <h6 class="text-muted ml-2">
                                  <del>{{product.regular_price}}</del>
                                </h6>
                              </div>
                              <div class="d-flex align-items-center justify-content-center mb-1">
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small>(99)</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-12">
                        {% if is_paginated %}
                        <nav>
                          <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                              <a class="page-link" tabindex="-1" aria-disabled="true"
                                href="{% url 'products:list_products' %}?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                            {% if i == page_obj.number %}
                            <li class="page-item active" aria-current="page">
                              <a class="page-link" href="{% url 'products:list_products' %}?page={{i}}"><span class="visually-hidden">{{i}}</span></a>
                            </li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="{% url 'products:list_products' %}?page={{i}}">{{i}}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="page-item">
                              <a class="page-link" tabindex="-1" href="{% url 'products:list_products' %}?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                            {% endif %}
                          </ul>
                        </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->


<script>

  // for getting the sorting status to be displayed in sorting dropdown placeholder
  function get(name) {
    if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))  //location.search give query sling part
      return decodeURIComponent(name[1]);
  }

  if(get('ordering'))
  document.getElementById('placeholder').innerHTML = "Sort: " + document.getElementById(get('ordering')).innerHTML;

  if(get('price'))
  document.getElementById('price-placeholder').innerHTML = "Price: " + document.getElementById('pr'+get('price')).innerHTML;


  // for getting url after applying ordering
  function finalurl() {
    var url = new URL(window.location.href);
    var search_params = url.searchParams;
    search_params.set('ordering', document.getElementById("sort-list").value);
    url.search = search_params.toString();
    var new_url = url.toString();
    return new_url
  }
  
  // for getting url after applying price filtering
  function finalurl2() {
    var url = new URL(window.location.href);
    var search_params = url.searchParams;
    search_params.set('price', document.getElementById("price-list").value);
    url.search = search_params.toString();
    var new_url = url.toString();
    return new_url
  }

//Product filtering
$(document).ready(function() {
    $('.price-checkbox, .brand-checkbox, .warranty-checkbox, .seller-checkbox, .color-checkbox, .product-type-checkbox').change(function() {
        filterProducts();
    });
});

function filterProducts() {
    var priceFormData = $('#priceFilterForm').serialize();
    var brandFormData = $('#brandFilterForm').serialize();
    var colorFormData = $('#colorFilterForm').serialize();
    var warrantyFormData = $('#warrantyFilterForm').serialize();
    var sellerFormData = $('#sellerFilterForm').serialize();
    var productTypeFormData = $('#productTypeFilterForm').serialize();


    $.ajax({
        url: '/list_products/',
        data: priceFormData + '&' + brandFormData + '&' + colorFormData + '&' + warrantyFormData + '&' + sellerFormData + '&' + productTypeFormData,
        dataType: 'json',
        success: function(response) {
            var products = response.products;
            var productList = $('#productList');
            productList.empty(); // Clear existing products

            $.each(products, function(index, product) {
                var productItem = $('<div class="col-lg-3 col-md-4 col-sm-6 pb-1 product-item"></div>');
                var innerHtml = `
                    <div class="product-item bg-light mb-4">
                        <div class="product-image product-img position-relative overflow-hidden">
                            ${getImageHtml(product.product_images)}
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href="${product.get_absolute_url}">${product.title}</a>
                            <br><a class="h6 text-decoration-none text-truncate" href="">${product.brand}</a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h6>${product.discount_price}</h6>
                                <h6 class="text-muted ml-2">
                                    <del>${product.regular_price}</del>
                                </h6>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small>(99)</small>
                            </div>
                        </div>
                    </div>
                `;
                productItem.html(innerHtml);
                productList.append(productItem);
            });
        }
    });
}

function getImageHtml(images) {
    var html = '';
    $.each(images, function(index, imageUrl) {
        html += `<img class="image-fluid w-100" alt="Responsive image" src="${imageUrl}">`;
    });
    return html;
} 


</script>


{% endblock %}

